@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Atkinson+Hyperlegible+Mono&display=swap");
@import "tailwindcss";

:root {
  /* Site colors */
  --nav-bg: #342626;
  --nav-text: #FFF7F7;
  --nav-highlight: #F9F7F1;

  /* Site fonts */
  --font-doto: "Doto", sans-serif;
  --font-atkinson: "Atkinson Hyperlegible Mono", monospace;
}

body {
  font-family: var(--font-doto), sans-serif;
}